@import "../utils/vars";

.logo_divider {
    padding-top: $padding-y;
    padding-bottom: $padding-y;
    display: flex;
    align-items: center;
    justify-content: center;

    height: min(40vh, 400px);

    img {
        height: 100%;
        object-fit: cover;
    }
}
