$primary-color: #b50014;
$padding-y: 6rem;
$gap: 1.5rem;

$tablet: "only screen and (min-width: 768px)";
$laptop: "only screen and (min-width: 1024px)";
$desktop: "only screen and (min-width: 1440px)";
