@import "utils/vars";

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: roboto, sans-serif;
}

body {
    background: #000;
    color: white;
}

$primary-color: #b50014;
$padding-y: 6rem;
$gap: 1.5rem;

$tablet: "only screen and (min-width: 768px)";
$laptop: "only screen and (min-width: 1024px)";
$desktop: "only screen and (min-width: 1440px)";

img {
    max-width: 100%;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}
